<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <style>
        form{
            width: 450px; height: 350px;
            border: 1px solid black;
            background-color:lavenderblush;
            text-align: center;
            position: absolute;
            top:45%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        form input{
            margin-top: 110px;
            line-height: 35px;
            border: 1px solid black;
            width: 200px;
        }
    </style>
</head>
<body>
    <form method="get" action="/mailer" onsubmit="return validate()">
        <input type="text" id="email" placeholder="E-mail Address" name='email'><br><br>
        <label for="error" id="error"></label><br><br>
        <button type="submit" name="submit">Send Email</button>
    </form>  

    <script>
        function validate (){
            let email = document.getElementById('email');
            let error = document.getElementById('error');

            let regexp =/^([a-zA-Z0-9\.\-]+)@([a-zA-Z0-9\-]+)\.([a-z]{2,4})(.[a-z]{2,3})?$/;
            if (regexp.test(email.value)){
                error.innerHTML = "Valid Email";
                return true;
            }
            else {
                error.innerHTML="InValid Email";
                return false;
            }

        }
    </script>
</body>
</html>